# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/MicrocontrollerEmulation/build/
/MicrocontrollerEmulation/dist/
/LibrarySystem/build/
/LibrarySystem/dist/